optr-field .field-info ion-icon {
  height: 24px;
  width: 24px;
  margin-left: 10px;
}
optr-field ion-row.inputBox {
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #ccc;
}
optr-field ion-row.inputBox ion-input {
  margin-left: 15px;
  font-weight: normal;
}
optr-field .passwordInput.inputBox {
  margin-bottom: 0px;
}

ion-alert .alert-head {
  padding-bottom: 0 !important;
}
ion-alert p {
  margin: 0;
  padding: 10px 20px 0px 20px;
  line-height: 1.6em;
  font-size: 14px;
  color: #333;
}
ion-alert .alert-message {
  margin-top: 15px;
  padding: 0px 0px 10px 0px !important;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
ion-alert .alert-button {
  color: #222 !important;
}
ion-alert .alert-title {
  font-weight: 600 !important;
}
